ALTER TABLE "KnowledgeSource" ENABLE ROW LEVEL SECURITY; DROP POLICY IF EXISTS tenant_isolation_policy ON "KnowledgeSource"; CREATE POLICY tenant_isolation_policy ON "KnowledgeSource" FOR ALL USING ("commerceId" = current_setting('app.current_tenant', true)::text); ALTER TABLE "KnowledgeSource" FORCE ROW LEVEL SECURITY;
